body{
	display: block;
    background-color: ghostwhite;
   	font-family: 'Poppins', sans-serif;
    font-size: 16px;
	margin: 5%;
}


h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 60px;
	color: #8A2D1C;
}

h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 35px;
	font-style: oblique;
	color: #8A2D1C;
}

h3 {
	text-align: center;
	font-size: 18px;
}

.header-img {
	display: table; 
	margin: 0 auto;
}

.header-img-caption {
	font-size: 12px;
	max-width: 800px;
	display: table; 
	margin: 0 auto;
}

.story {
	 max-width: 1000px;
	 margin: 0 auto 10px auto;
    padding: 0 10px;
}

h4 {
	font-weight: bolder;
	font-size: 18px;
	color: #8A2D1C;
}

.map {
	background-color: white;
	padding: 2%;
}

h5 {
	font-size: 14px;
	font-style: italic;
}

.graphic {
	display: table; 
	margin: 0 auto;
}

.footer {
    text-align: center;
    font-size: 12px;
    background-color: #fffee1;
	width: 800px;
	display: table; 
	margin: 0 auto;
   }

@media(min-width: 681px)	{
	.grid-area {
		display:  flex;
}
}




